/* ------------------------------ pattern ---------------------------------=- */

h2 {
  font-size: 2rem;
  padding-top: 3rem;
}

/* --------------------------- header-menu ---------------------------------- */

header {
  margin: auto;
  width: auto;
  height: 100vh;
  background-image: url("../assets/images-web/s1_ft1.png");
  background-size: cover;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 16px;
}

.menu {
  padding: 10px 5rem;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.menu img {
  width: 124px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 32px;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
}

/* --------------------------- header-home ---------------------------------- */

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 85vh;
}

.content .title {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

.content h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  width: 70%;
  margin-bottom: 0.5em;
  line-height: 7rem;
}

.content p {
  color: #fff;
  margin-bottom: 2em;
  width: 45%;
  text-align: center;
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.content p strong {
  color: #EFE60B;
}

.content button {
  color: #fff;
  font-weight: 700;
  background-color: #1CD4E9;
  padding: 20px 14px;
  border: 0;
  border-radius: 40px;
  margin-top: 2em;
}

/* ------------------------------- main ------------------------------------- */

main {
  background-image: url("../assets/images-web/bg.png");
  background-size: cover;
  background-position-y: 45%;
  overflow: hidden;
}

/* ------------------------------- about ------------------------------------ */

.about {
  height: 100vh;
  max-width: 85%;
  margin: auto;
  position: relative;
}

.content-about {
  box-shadow: 2px 2px 20px #bbb;
  background-color: #fff;
  padding: 32px;
  width: 70%;
  position: absolute;
  top: 60%;
  transform: translate(0,-50%);
}

.content-about p:nth-child(n+2){
  margin-top: 20px;
}

/* ------------------------------ services ---------------------------------- */

.services {
  height: 100vh;
  max-width: 85%;
  margin: auto;
  position: relative;
}

.container-services {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 24%;
}

.bg-services {
  background-image: url("../assets/images-web/s3_ft1.png");
  background-size: cover;
}

.bg-media {
  background-image: url("../assets/images-web/s3_ft2.png");
  background-size: cover;
}

.bg-technology {
  position: relative;
  overflow: hidden;
}

.bg-technology img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  filter: brightness(30%);
}

.bg-technology h3,
.bg-technology span {
  position: relative;
  z-index: 2;
}

.content-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5em 1.5em 3em;
  width: 32%;
  height: 40%;
}

.content-services h3 {
  text-align: center;
  color: #EFE60B;
  margin-bottom: 1.5em;
}

.text-services {
  color:#fff;
}

.text-services:nth-child(n+2){
  margin-top: 20px;
}

/* ---------------------------- differentials ------------------------------- */
.differentials {
  height: 100vh;
  max-width: 85%;
  margin: auto;
  position: relative;
}

.container-differentials {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 24%;
}

.bg-differentials1 {
  position: relative;
}

.bg-differentials2 {
  position: relative;
}

.bg-differentials3 {
  position: relative;
}

.img-differentials {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  filter: brightness(30%);
}

.content-differentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.5em 2.8em 2.5em;
  width: 25%;
  height: 40%;
}

.content-differentials span,
.content-differentials .medal-icon {
  z-index: 2;
}

.content-differentials span {
  color: #fff;
  margin-top: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3rem;
}

.content-differentials .medal-icon {
  width: 90px;
  height: auto;
}

/* ------------------------------- footer ----------------------------------- */

footer {
  height: 100vh;
  width: auto;
  background-color: #EFE60B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-background {
  height: 85%;
  background-color: #191919;
  display: flex;
  max-height: 85%;
  color: white;
}

.footer-content {
  width: 50%;
  padding: 2.5rem 5rem;
}

.footer-header {
  display: flex;
  justify-content: space-between;
}

.footer-header img {
  height: 32px;
  width: auto;
}

.footer-header img:nth-child(n+2) {
  margin-left: 2rem;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.footer-contact a {
  color: #aaa;
  font-weight: 500;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.footer-contact img {
  height: 1rem;
  width: auto;
  margin-right: 0.7rem;
}

.vertical-line {
  border-left: 2px solid #555;
}

.footer-address {
  margin: 1.5rem 0;
}

.footer-address a {
  color: #aaa;
  font-weight: 500;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.footer-address img {
  height: 1rem;
  width: auto;
  margin-right: 0.7rem;
}

.footer-text p {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3rem;
}

.footer-text p:nth-child(n+2) {
  margin-top: 1.2rem;
}

.footer-text .text-2 {
  color: #EFE60B;
}

.footer-text .text-3 {
  color: #1CD4E9;
}

.footer-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form form {
  width: 65%;
  padding: 1.2rem;
  background-color: #818181;
  display: flex;
  flex-direction: column;
}

.footer-form input,
.footer-form textarea {
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
  font-size: 1rem;
  color: #aaa;
}

.footer-form textarea {
  resize: none;
  width: auto;
}

.footer-form button {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background-color: #1CD4E9;
  padding: 16px 14px;
  border: 0;
}
