/* --------------------------- header-menu ---------------------------------- */

header {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images-web/s1_ft1.png");
  background-size: cover;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 16px;
}

.menu {
  padding: 10px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 124px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 32px;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
}

/* --------------------------- header-home ---------------------------------- */

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 85vh;
}

.content .title {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

.content h1 {
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  width: 70%;
  margin-bottom: 0.5em;
  line-height: 7rem;
}

.content p {
  color: #fff;
  margin-bottom: 2em;
  width: 45%;
  text-align: center;
  line-height: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.content p strong {
  color: #EFE60B;
}

.content button {
  color: #fff;
  font-weight: 700;
  background-color: #1CD4E9;
  padding: 20px 14px;
  border: 0;
  border-radius: 40px;
  margin-top: 2em;
}

/* ------------------------------- main ------------------------------------- */

main {
  background-image: url("../assets/images-web/bg.png");
  background-size: cover;
  background-position-y: 45%;
  overflow: hidden;
}

.about {
  height: 100vh;
  max-width: 85%;
  margin: auto;
  position:relative;
}

.about h2 {
  font-size: 2rem;
  padding-top: 3rem;

}

.content-about {
  box-shadow: 2px 2px 20px #bbb;
  background-color: #fff;
  padding: 32px;
  width: 70%;
  position: absolute;
  top: 60%;
  transform: translate(0,-50%);
}

.content-about p:nth-child(n+2){
  margin-top: 20px;
}
